@use "../../styles/colors";
@use "../../styles/buttons";
@use "../../styles/breakpoints";

.comment {
  max-width: 450px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 0;
  border-top: 1px solid colors.$third;
  border-bottom: 1px solid colors.$third;
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btnError {
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
    }

    a {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid darken(colors.$fourth, 3%);
        object-fit: cover;
      }

      .info {
        padding-left: 10px;

        h1 {
          font-size: 18px;
          color: colors.$primary;
        }

        h2 {
          font-size: 16px;
          color: colors.$secondary;
          text-align: left;
        }
      }
    }
  }

  .commentContent {
    padding: 10px;
    text-align: left;
  }

  .bot {
    display: flex;
    align-items: center;

    .likes span {
      display: flex;
      align-items: center;
      font-size: 18px;
      cursor: pointer;

      svg {
        padding-top: 2px;
        margin-left: 2px;
      }
    }

    .comments span {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-left: 10px;
      cursor: pointer;

      svg {
        margin-left: 2px;
      }
    }
  }
}
