@use "./colors";

.btn {
  padding: 10px 20px;
  border: 1px solid colors.$primary;
  border-radius: 5px;
  background: colors.$primary;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: colors.$fifth;
  }

  svg {
    margin-right: 5px;
  }
}

.btnError {
  padding: 10px 20px;
  border: 1px solid colors.$error;
  border-radius: 5px;
  background: colors.$error;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken(colors.$error, 10%);
  }

  svg {
    margin-right: 5px;
  }
}
